
html, body {
    height: 100%;
    margin: 0;
}

/* -----------------------------     BOXES     ------------------------------ */

#boxMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#boxTop {
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted darkgray 2px;
}

#boxTouchBox {
    width: 95%;
    height: 80%;
    border: dotted darkgray 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#boxPopUpStart {
    position: absolute;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: solid lightgrey 2px;
    box-shadow: darkgray 5px 5px 15px 5px;
    height: 85%;
    width: 40%;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.choiceContainer {
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.progressContainer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.boxChoice {
    width: 250px;
    height: 250px;
    background-color: #b9d0ef;
    border: dotted darkblue 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: Arial, sans-serif;
}

/* -----------------------------     TEXT     ------------------------------ */

span {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

#txtPopUpstoryText {
    font-size: 18px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


#txtPlaceCharStart {
    margin-top: 30px;
}



/* -----------------------------     BUTTONS     ------------------------------ */

#btnCharCirclePopUpStart {
    width: 250px;
    height: 250px;
    background-color: #b9d0ef;
    border: dotted darkblue 5px;
    border-radius: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -----------------------------     PROGRESS BAR     ------------------------------ */

.progress-bar {
    width: 20%;
    height: 40px;
    border-radius: 20px;
    background-color: #c4c4c4;
    visibility: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: green;
    border-radius: 20px;
    left: 0;
    top: 0;
    visibility: hidden;
}

/* -----------------------------     IPAD SCREEN     ------------------------------ */

@media screen and (max-width: 1300px) {
    #boxPopUpStart {
        width: 60%;
    }

    #btnCharCirclePopUpStart {
        width: 220px;
        height: 220px;
        margin-top: 30px;
    }

    .boxChoice {
        width: 220px;
        height: 220px;
    }
}